.dashboard{
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column; 

  .top-nav{
    position: relative;
    background: red;
  };

  .nav-root{
    flex-grow: 1;
  };
  .menuButton {
    margin-right: 2,
  };
  .title {
    flex-grow: 1,
  };
  .search {
    // position: 'relative';
    background-color: #ffff;
    display: flex;
    padding: 4px 2px 4px 2px;
    align-items: center;
    color: grey;
    border-radius: 10px;
    // margin-right: 2;
    // margin-left: 0;
    // width: '100%';
    
  };
  searchIcon: {
    // padding: 0, 2;
    // height: '100%';
    // position: 'absolute';
    // pointerEvents: 'none';
    // display: 'flex';
    // alignItems: 'center';
    // justifyContent: 'center';
  };
  inputRoot {
    color: 'inherit';
  };
  inputInput {
    padding: 1, 1, 1, 0;
    // vertical padding + font size from searchIcon
    // padding-left: 4;
    width: '100%';
    
  };
  .content-section{
    margin-top: 65px;
    position: relative;
    display: flex;
    flex: 1;
    height: 100%;

    .side-nav{
      position: relative;
      background: #ffffff;
      width: 250px;
      text-align: center;

    .create-btn{
      margin-top: 30px;
      margin-bottom: 30px;
      }
    }

    .content-pane{
      background: #b1df48;
      flex: 1;
    }
  }  
}