#simple-menu{

  .menu-avatar{
    
    display: flex;
    align-items: flex-end;
    top: 58px !important;
    left: auto !important;
    transform-origin: -16px -16px;
    right: 16px !important;
    width: 150px;
    ul,li{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.dashboard{
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column; 
  .toolbar-custom-for-top-nav{
    background: rgb(0, 0, 0);
  }
  .top-nav{
    position: relative;
  };
  .nav-root{
    flex-grow: 1;
  };
  .menuButton {
    margin-right: 2,
  };
  .title {
    flex-grow: 1,
  };
  .search {
    // position: 'relative';
    background-color: #ffff;
    display: flex;
    padding: 4px 2px 4px 2px;
    align-items: center;
    color: grey;
    border-radius: 10px;
    // margin-right: 2;
    // margin-left: 0;
    // width: '100%';
    
  };
  searchIcon: {
    // padding: 0, 2;
    // height: '100%';
    // position: 'absolute';
    // pointerEvents: 'none';
    // display: 'flex';
    // alignItems: 'center';
    // justifyContent: 'center';
  };
  inputRoot {
    color: 'inherit';
  };
  inputInput {
    padding: 1, 1, 1, 0;
    // vertical padding + font size from searchIcon
    // padding-left: 4;
    width: '100%';
    
  };
  .avatar{
    display: 'flex';
    margin-right: 16px;
    margin-left: 16px;
  }
  .side-nav{
    margin-top: 65px;
    position: fixed;
    background: #ffffff;
    z-index: 1;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    text-align: center;
    overflow-x: hidden;
    
    .wrapper-for-children-sublist{
      padding-left: 30px;
    }
    .create-btn{
      margin-top: 30px;
      margin-bottom: 30px;
      }
  }
  .content-section{
    margin-left: 260px;
    margin-right: 15px;
    margin-top: 65px;
    position: relative;
    display: flex;
    flex: 1;
    height: 100%;
    .content-pane{
      background: #FFFFFF;
      flex: 1;
      overflow-x: hidden;
    }
  }  
}