.sliderimg{

    height: 250px;
    object-fit: cover
  };
.carousel{
  position: relative;
};
.head{
    display: flex;
    justify-content: space-between;
}
.container{
    width: 100%;
}
.button{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.title{
    font: bold 25px
}
.detail{
    font-style:italic
}