.sliderimg{
    width: 100%;
    height: 250px;
    object-fit: cover
  };
.carousel{
    width: 100%
};
.head{
    display: flex;
    justify-content: space-between;
}
.container{
    width: 1000px
}
.button{
    display: flex;
    flex-direction: row-reverse;
}
.title{
    font: bold 25px
}
.detail{
    font-style:italic
}