
// .discover{
//   position: absolute;
//   padding: 15px 15px 15px 15px;
//     .title-categories{
//       padding-bottom: 12px;
//       padding-top: 12px;
//     }
//     .modified-grid-for-categories{
//       position: relative;
//       display: flex;
//       justify-content: space-evenly;
//       flex-direction: row;
//       flex-wrap: wrap;
//       .modified-paper-for-categories {
//         display: flex;
//         flex-wrap: wrap;
//         flex-direction: row;
//         justify-content: space-evenly;
        // .modified-list-for-categories{
        //   display: flex;
        //   flex-direction: row;
        //   flex-wrap: wrap;
        // .single-category-display-listItem{
        //   display: flex;
        //   flex-direction: column;
        //   justify-content: flex-start;
        //   align-items: flex-start;
        .title-component-discover{
          padding-top: 15px;
          font: bold 25px
        }
        .display-all-items-wrapper{
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          flex-wrap: wrap;
          padding-bottom: 10px;
          
          
          .single-category-display{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            .category-image{
              width: 100px;
              height:100px;
              margin: 5px 5px 5px 5px;
              padding: 5px 5px 5px 5px;
            }
          }
          
        }

        .item-image{
          width: 50px;
          height: 50px;
          margin: 5px 5px 5px 5px;
          padding: 5px 5px 5px 5px;
        }
          
        // }
        // }
        
//       }
//     }
// }

