.category-image{
  
}
.discover{
  position: relative;
  padding: 15px 15px 15px 15px;
  .modified-paper-for-categories {
    background: rgb(121, 116, 120);
  }
  .title-categories{
    padding-bottom: 12px;
    padding-top: 12px;
  }
  .modified-list-for-categories{
    display: flex;
    justify-content: row;
  }
  
}
