.create-button{
    margin: 50px;
    display: flex;
    justify-content: space-around;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.watch-list-container{
    margin: 100px 0px 0px 50px;
}
.cardTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card-wrapper{
    margin-top: 30px;
}